* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: cadetblue;
    color: #ffffff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 100%;
    padding: 0.5em;
    background-color: rgb(33, 78, 48);
    color: white;
    border: none;
    border-radius: 5px;
}

input ::placeholder {
    color: darkgray;
}

button {
    opacity: 0.85;
}

button:hover{
    opacity: 1;
    cursor: pointer;
}

main {
    background-color: aqua;

    width: 100%;
    max-width: 400px;
    height: calc(100% - 2em);
    max-height: 600px;

    margin: 1em;
    padding: 1em;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.301);
    border-radius: 10px;

    display: flex;
    flex-direction: column;

    gap: 1em;
}

header {
    text-align: center;
}

header h1 {
    margin-bottom: 0.25em;
}

.tarefas {
    flex-grow: 1;
    background-color: bisque;
}

.nova-tarefa {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.nova-tarefa button {
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
    background-color: rgb(24, 108, 181);
    color: white;
}